<div class="job">
  <%= link_to offer_path(job) do %>
    <article class="row">
      <div class="small-12 medium-8 large-8 columns">
        <div class="wrapper">
          <h2><%= job.decorate.title %></h2>
          <div class="line"><%= render 'tags', tags: job.tags %></div>
          <div class="location line"><%= job.decorate.location %></div>
          <div class="published_date line"><%= job.decorate.published_at %></div>
        </div>
      </div>
    </article>
  <% end %>
</div>
