<% header_tag ||= :h2 %>

<div class="job">
  <%= link_to job do %>
    <article class="row">
      <div class="small-12 columns">
        <div class="wrapper">
          <%= content_tag(header_tag, job.decorate.title) %>
          <div class="line"><%= render 'tags', tags: job.tags %></div>
					<div class="location line"><i class="fi-marker">&nbsp;</i><%= job.decorate.location %></div>
          <div class="published_date line"><%= job.decorate.published_at %></div>
					<%= link_to job, class: 'button tiny primary float-right' do %> <%= t('recruiter.home.index.see_job') %> <% end %>
        </div>
      </div>
    </article>
  <% end %>
</div>
