<% title job.decorate.title %>

<article id="job">
  <header>
    <h1><%= job.decorate.title %></h1>
  </header>

  <div class="line"><%= render 'tags', tags: job.tags %></div>
  <div class="description"><%= to_markdown(job.description) %></div>
  <div class="locaiton"><%= job.decorate.location %></div>
  <div class="how-to-apply"><%= to_markdown(job.how_to_apply) %></div>

  <footer>
    <div class="published"><%= job.decorate.published_at %></div>
    <% if job.decorate.updated? %>
      <div class="updated"><%= job.decorate.updated_at %></div>
  <% end %>
  </footer>
</article>
