<% title job.decorate.title %>

<article id="job">
  <header>
    <h1><%= job.decorate.title %></h1>
  </header>

  <div class="row">
    <span class="small-4 columns">
      <%= job.decorate.location %>
    </span>
    <span class="small-8 columns">
      <div class="right">
        <%= render 'tags', tags: job.tags %>
      </div>
    </span>
  </div>

  <div class="main">
    <div class="description"><%= to_markdown(job.description) %></div>
  </div>

  <div class="how-to-apply">
    <h2><%= Recruiter::Job.human_attribute_name(:how_to_apply) %></h2>
    <%= to_markdown(job.how_to_apply) %>
  </div>

  <footer>
    <p><%= job.decorate.publication %></p>
  </footer>
</article>
