<h1><%= t('.title') %></h1>

<table class="wide">
  <thead>
    <tr>
      <th><%= Recruiter::Job.human_attribute_name(:title) %></th>
      <th><%= Recruiter::Job.human_attribute_name(:published_at) %></th>
      <th class="actions"><%= new_link(:new_user_job, class: 'expand') %></th>
    </tr>
  </thead>
  <% @jobs.each do |job| %>
    <tr>
      <td><%= job.decorate.title %></td>
      <td><%= job.decorate.created_at_ago %></td>
      <td class="actions">
        <%= show_link([:user, job]) %>
        <%= edit_link([:edit_user, job]) %>
        <%= destroy_link([:user, job]) %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @jobs %>
